registry=https://registry.npmmirror.com/

# electron-builder 3rd part 
# ELECTRON_MIRROR = 'https://npmmirror.com/mirrors/electron/'
# ELECTRON_BUILDER_BINARIES_MIRROR = https://npmmirror.com/mirrors/electron-builder-binaries/

# in windows wsl, open application on hight dpi device, display uncorrect
# create .wslgconfig file in C:\Users\${user}\
# [system-distro-env]
# WESTON_RDP_DISABLE_FRACTIONAL_HI_DPI_SCALING=false
# WESTON_RDP_HI_DPI_SCALING=true
# WESTON_RDP_FRACTIONAL_HI_DPI_SCALING=true
# WESTON_RDP_DEBUG_DESKTOP_SCALING_FACTOR=100

# in window, 出现错误 EPERM: operation not permitted, symlink
# Windows10+更高版本允许在开发者模式下创建符号链接，设置->系统->高级->开发者选项->选择开发人员模式

# opencv build with opencv-contrib
# 

# @u4/opencv4nodejs issue
# node_modules/@u4/opencv4nodejs/binding.gyp
#       "msvs_settings": {
#					"VCCLCompilerTool": {
#						"ExceptionHandling": "2",
#						"RuntimeLibrary": "2",
#            "PreprocessorDefinitions": ['NOMINMAX']
#					},
#				}